:root {
    --item-width: 14rem;
    --item-height: 18rem;
    --iframe-height: 85%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    margin-bottom: 3rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 7em;
    text-align: center;
}

#nav-home {
    height: 4rem;
    position: relative;
    left: 5rem;
    transition: filter 100ms ease-in-out;
}
#nav-home:hover {
    filter: invert(100%) sepia(10%) saturate(10000%) hue-rotate(300deg) brightness(80%);
    cursor: pointer;
}

main {
    width: 75%;
    margin: 0 auto;
}

main > h2 {
    font-size: 3em;
    margin-left: 5vw;
    margin-bottom: 1.5rem;
    text-align: left;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: calc(var(--item-height) + 4rem);
    padding: 2rem 3rem;
    gap: 6.5rem 4.5rem;
}

.catalog.multiplayer {
    background-color: rgba(0, 128, 0, 0.443);
}

.catalog.singleplayer {
    background-color: rgba(128, 0, 128, 0.25);
}

.item {
    width: var(--item-width);
    height: var(--item-height);
    background-color: hsla(0, 0%, 100%, 0.5);
    border: 2px solid black;
    border-radius: 10px;
    transition: 75ms ease-out;
    transition-property: width, height, filter;
}
.item:hover {
    cursor: pointer;
    filter: brightness(90%);
}
.item:active {
    filter: brightness(75%) saturate(130%) contrast(120%) hue-rotate(-15deg);
}

.icon {
    max-width: 100%;
    height: 70%;
    display: flex;
    margin: 0 auto;
}

.item > p {
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    padding: 0.75rem 0.5rem;
    border-top: 6px solid hsla(30,40%,70%,0.2);
    overflow-wrap: break-word;
}

#game-container {
    position: fixed;
    top: 1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: var(--iframe-height);
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
}
#game-container:hover {
    cursor: pointer;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--iframe-height);
    border: none;
    outline: none;
}

#backdrop {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: background-color 175ms ease-out;
}
#backdrop:hover {
    cursor: pointer;
    background-color: hsla(0,0%,12.5%,0.985);
}
#backdrop:active {
    background-color: hsl(0,0%,15%);
    opacity: 85%;
    transition: 50ms ease-out;
    transition-property: background-color, opacity;
}

hr {
    width: 90%;
    height: 0.5rem;
    background: linear-gradient(
        90deg,
        hsla(0,90%,40%,0.6),
        hsla(240,70%,40%,0.6) 90%
    );
    border: none;
    border-radius: 5rem;
    display: flex;
    margin: 4rem auto;
    filter: blur(1px) brightness(120%) saturate(120%) contrast(150%);
    transition: all 300ms ease-in-out;
}

@media (max-height: 830px) {
    :root {
        --iframe-height: 70%;
    }
}

@media (max-width: 830px) {
    :root {
        --item-width: 12rem;
        --item-height: 16rem;
    }
    h1 {
        font-size: 4.5rem;
    }
    #nav-home {
        position: static;
        margin-left: 3rem;
    }
    main > h2 {
        font-size: 2rem;
    }
}